# Node.js
node_modules/
npm-debug.log*

# Visual Studio Code
.vscode/

# IDE - WebStorm
.idea/

# IDE - Visual Studio
bin/
obj/
*.suo
*.user
*.userprefs
*.psess
*.vsp
*.vspx
*.sln.docstates

# Compiled files
*.log
*.bak
*.pyc
*.class

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# macOS files
.DS_Store

# End of React.js .gitignore file