# .NET Core
bin/
obj/

# Build artifacts
*.dll
*.exe
*.pdb
*.zip
*.tar.gz
*.nupkg

# User-specific files
*.user
*.userprefs
*.suo
*.cache

# Visual Studio Code
.vscode/

# IDE - Rider
.idea/

# NuGet
*.nuget.props
*.nuget.targets

# MSTest test Results
TestResults/

# Build Results of an ATL Project
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

# CodeAnalysis
*.ruleset
*.dotSettings

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.sln.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Coverlet
coverage*/
*.json

# Reports
Reports/*

# StyleCop
StyleCopReport.xml

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store App package directory
AppPackages/

# Others
[Bb]in
[Oo]bj
sql
TestResults
[Tt]est[Rr]esult*
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.tfsscc
*.tl
*.tlog
*.flx
*.dotCover
*.opendb
*.coverage
*.csproj.user
*.vcproj.user
*.psess
*.vsp
*.psess
*.vsp
*.suo
*.cache
*.ncb
*.VC.db
*.VC.VC.opendb

# End of .NET Core 6 Web API .gitignore file